.container-footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
}